@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

#p1{
  position: absolute;
  top:0px;
  left:0px;
  z-index: -2;
}
#ellipse{
  position: absolute;
  top:0px;
  left:0px;
  z-index: -1;
}
#p2{
  position: absolute;
  top:0px;
  right:10px;
  z-index: -1;
}
#i1{
  position: absolute;
  top:550px;
  right:0px;
  z-index: -1;
}

.app{
  overflow-x: hidden;
}